<% content_for :custom_title do %>: <%= h @r.title %><% end %>
  
<h3><%= @r.title %></h3>

<img src="<%= @r.image_full_path %>"/>

<p>
  <%= @r.caption %>
</p>

<h3>MeSH Data:</h3>


<% if @r.article.present? %>
From original article (pmid <%= @r.pmid %>):
<ul>
<% @r.article.assigned_mesh_terms.each do |mt| %>
  <li><%= mt.term %></lit>
<% end %>
</ul>

<% else %>
<em>No originating article! PMID was: ---&gt;<%= @r.pmid %>&lt;----</em>  
<% end %>

<p/>

<% if @r.mesh_terms.present? %>
From MetaMap on caption:
<ul>
<% @r.mesh_terms.each do |mt| %>
  <li><%= mt.term %></li>
<% end %>
</ul>
<% else %>
<em>Nothing from MetaMap on caption!</em>
<% end %>

<h3>Modalities:</h3>

<ul>
  <li>Caption: <%= @r.caption_modality %></li>
  <li>Title: <%= @r.title_modality %></li>
  <li>Both: <%= @r.caption_title_modality %></li>
  <li>Jaykc: <%= @r.jaykc_modality %></li>
</ul>